<div class="main-content">
    <div class="main-content-inner">
      <div class="page-content">
          <section id="wrapper" class="error-page">
              <div class="error-box">
                <div class="error-body text-center">
                  <h1 class="text-danger">404</h1>
                  <h3 class="text-uppercase">ไม่พบหน้านี้!</h3>
                  <p class="text-muted m-t-30 m-b-30">ลิงก์ที่คุณเข้ามาอาจเสียหาย หรืออาจไม่มีอยู่ในเว็บไซต์นี้แล้ว</p>
                  <a href="/" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">กลับหน้าแรก</a>
                </div>
              </div>
            </section>
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->
